*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #333;
    font-size: 14px;
    font-weight: 400;
    font-family: "Poppins Medium";
    font-style: normal;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
    margin-top: 10px;
}

nav .logo img{
    background-size: cover;
    width: 100px;
    overflow: hidden;
    border-radius: 360px;
}

nav .links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav .links a{
    text-decoration: none;
    color: #333;
    font-weight: 400;
    position: relative;
}

nav .links a::after{
    content: '';
    position: absolute;
    left: 0;
    top: 25px;
    height: 1.3px;
    width: 100%;
    border-radius: 150px;
    background-color: #333;
    transform: scaleX(0);
    transition: transform 0.4s;
}

nav .links a:hover::after{
    transform: scaleX(-1);
}

nav .signin-btn button{
    height: 45px;
    width: 120px;
    background-color: #0d6efd;
    font-family: "Poppins Medium";
    color: #fcfcfc;
    font-size: 14px;
    font-weight: 500;
}

#home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
}

#home .left-side h1,
#home .left-side h1 span{
    font-weight: 600;
}

#home .left-side h1 span{
    color: #0d6efd;
}

#home .left-side .signup-btn button{
    font-size: 14px;
    font-weight: 500;
    height: 45px;
    margin-top: 10px;
    background-color: #0d6efd;
    color: #fcfcfc;
    font-family: "Poppins";
    width: 170px;
}

#home .left-side .title{
    font-size: 17px;
}

#home .left-side .discription{
    font-size: 13px;
    font-weight: 400;
}



#home .left-side hr{
    border: none;
    background-color: #333;
    height: 3px;
    border-radius: 50px;
    width: 30px;
    position: absolute;
    left: 415px;
    top: 179px;
}

#home .icons{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 10px;
}

#home .icons i{
    font-size: 15px;
}

#home .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#home .right-side img{
    height: 250px;
}

#home .right-side .img1{
    rotate: -20deg;
    z-index: -1;
    position: absolute;
    left: 930px;
    top: 175px;
}

#home .right-side .img3{
    rotate: 20deg;
    z-index: -1;
    position: absolute;
    left: 1190px;
    top: 175px;
}

#home .right-side .img2{
    position: absolute;
    top: 145px;
    left: 1060px;
}

.mesh{
    position: absolute;
    top: 10px;
    left: 60px;
    z-index: -2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mesh .mesh-line1,
.mesh .mesh-line2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mesh .mesh-line1 .square,
.mesh .mesh-line2 .square{
    height: 250px;
    width: 280px;
    border: 1.5px solid #fafafa;
}

#books{
    margin-top: 60px;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 150px;
}

#books h4{
    font-weight: 500;
}

#books .section-body .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 25px;
}

#books .section-body .cards .card-1,
#books .section-body .cards .card-2,
#books .section-body .cards .card-3,
#books .section-body .cards .card-4{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px 20px 2px;
    border: 1.8px solid #fafafa;
    border-radius: 7px;
}

#books .section-body .cards .card-1 .title,
#books .section-body .cards .card-2 .title,
#books .section-body .cards .card-3 .title,
#books .section-body .cards .card-4 .title{
    margin-top: 15px;
}

#books .section-body .cards .card-1 img,
#books .section-body .cards .card-2 img,
#books .section-body .cards .card-3 img,
#books .section-body .cards .card-4 img{
    width: 245px;
}

#offers{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 70px;
    padding: 20px 150px;
}

#offers .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#offers .cards .card-1,
#offers .cards .card-2,
#offers .cards .card-3,
#offers .cards .card-4{
    border: 1.8px solid #fafafa;
    padding: 20px;
    border-radius: 7px;
    width: 168vh;
    margin-top: 10px;
}

#offers .cards .card-1 .button button,
#offers .cards .card-2 .button button,
#offers .cards .card-3 .button button,
#offers .cards .card-4 .button button{
    font-family: "Poppins Medium";
    background-color: #0d6efd;
    color: #fcfcfc;
    font-size: 13px;
    width: 130px;
    height: 42px;
}

#offers .cards .card-1 .discription p,
#offers .cards .card-2 .discription p,
#offers .cards .card-3 .discription p,
#offers .cards .card-4 .discription p{
    font-size: 12px;
}

#service{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 60px;
    padding: 20px 150px;
}

#service #accordionFlushExample{
    width: 100%;
    margin-top: 10px;
}

#contact{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px 150px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px 150px 0px;
    color: #fcfcfc;
    background-color: #333333;
}

footer p{
    font-size: 12px;
}