/* import robot font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #333;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
}

body{
    position: relative;
}

#home{
    margin-top: 50px;
    padding: 0px 120px;
    gap: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home .left-side .title,
#home .left-side .title span{
    font-weight: 700;
    font-size: 40px;
}

#home .left-side .title span{
    background: linear-gradient(to right,#D38312,#A83279);
    color: transparent;
    background-clip: text;
}

#home .left-side .btns{
    margin-top: 25px;
    display: flex;
    gap: 50px;
}

#home .left-side a{
    text-decoration: none;
    font-size: 15px;
    border: 1px solid #333;
    padding: 10px 30px;
    border-radius: 5px;
    color: #fcfcfc;
    font-weight: 500;
    background-color: #333;
}

#home .right-side .image{
    height: 300px;
    width: 300px;
    border: 1px solid #333;
    background-color: #fcfcfc;
}

#home .right-side .circle{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 100%;
    height: 350px;
    width: 350px;
    z-index: -1;
    background: linear-gradient(45deg,#d3821289,#a8327996);
}
