*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #333333;
    font-size: 14px;
    font-family: "Poppins Medium";
    font-weight: 400;
    font-style: normal;
    display: grid;
    justify-content: center;
    align-items: center;
}

.login-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.login-card .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-card .card-body .logo img{
    height: 120px;
}

.login-card .card-body .signin-btn button{
    color: #fcfcfc;
    width: 325px;
    height: 45px;
    font-weight: 500;
    margin: 0px 0px 10px;
    font-size: 14px;
}

.login-card .card-body input{
    width: 325px;
    height: 45px;
    font-size: 14px;
}

.login-card .card-body label{
    font-size: 13px;
}

.login-card .card-body .line-and-or hr{
    border: none;
    background-color: #dcdcdc;
    width: 325px;
    height: 2px;
    border-width: 3px;
}

.login-card .card-body .line-and-or label{
    position: absolute;
    left: 750px;
    top: 508px;
    background-color: #fff;
    padding: 0 10px;
}

.login-card .card-body .link-and-text{
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.login-card .card-body .link-and-text a{
    text-decoration: none;
    color: #333333;
    position: relative;
    font-size: 14px;
}

.login-card .card-body .link-and-text a::after{
    content: '';
    position: absolute;
    left: 0;
    top: 18px;
    height: 1.2px;
    width: 100%;
    border-radius: 50px;
    background-color: #333333;
    transform: scaleX(0);
    transition: transform 0.4s;
}

.login-card .card-body .link-and-text a:hover::after{
    transform: scaleX(-1);
}

.login-card .card-body .continue-google button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
    width: 325px;
    height: 45px;
    font-size: 14px;
}

