*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #333333;
    font-size: 14px;
    font-family: "Poppins Medium";
    font-weight: 400;
    font-style: normal;
    display: grid;
    justify-content: center;
    align-items: center;
}

.login-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.login-card .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-card .card-body .logo img{
    height: 120px;
}

.login-card .card-body .signin-btn button{
    color: #fcfcfc;
    width: 325px;
    height: 45px;
    font-weight: 500;
    margin: 0px 0px 10px;
    font-size: 14px;
}

.login-card .card-body input{
    width: 325px;
    height: 45px;
    font-size: 14px;
}

.login-card .card-body label{
    font-size: 13px;
}

.login-card .card-body .line-and-or hr{
    border: none;
    background-color: #dcdcdc;
    width: 325px;
    height: 2px;
    border-width: 3px;
}

.login-card .card-body .line-and-or label{
    position: absolute;
    left: 750px;
    top: 508px;
    background-color: #fff;
    padding: 0 10px;
}
