*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #333333;
    font-size: 14px;
    font-family: "Poppins Medium";
    font-weight: 400;
    font-style: normal;
    display: grid;
    justify-content: center;
    align-items: center;
}

.register-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.register-card .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.register-card .card-body .logo img{
    height: 120px;
}

.register-card .card-body .register-btn button,
.register-card .card-body .continue-google-btn button{
    font-size: 14px;
    height: 45px;
    width: 325px;
}

.register-card .card-body .or-and-line label{
    position: absolute;
    left: 750px;
    top: 547px;
    padding: 0px 15px;
    background-color: #ffffff;
}

.register-card .card-body .or-and-line{
    margin: 10px 0px;
}

.register-card .card-body .or-and-line hr{
    border: none;
    background-color: #dcdcdc;
    width: 325px;
    height: 2px;
    border-width: 3px;
}

.register-card .card-body .goto-login{
    display: flex;
    gap: 22px;
    margin-top: 15px;
}

.register-card .card-body .goto-login a{
    color: #333333;
    text-decoration: none;
    position: relative;
}

.register-card .card-body .goto-login a::after{
    content: '';
    position: absolute;
    left: 0;
    top: 18px;
    height: 1.2px;
    width: 100%;
    border-radius: 50px;
    background-color: #333333;
    transform: scaleX(0);
    transition: transform 0.4s;
}

.register-card .card-body .goto-login a:hover::after{
    transform: scaleX(-1);
}

.register-card .card-body .continue-google-btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 325px;
    height: 45px;
    font-size: 14px;
}

.register-card .card-body #exampleInputEmail1,
.register-card .card-body #exampleInputPassword1{
    font-size: 14px;
    width: 325px;
    height: 45px;
}

.register-card .card-body label{
    font-size: 14px;
}